@model List<ProductCatagoryWeb.ViewModels.ProductVM>

@{
    ViewBag.Title = "ManageCategory";
}

<button class="btn btn-success" data-toggle="modal" data-target="#myModal" style="margin:10px;">Add Product</button>
<table class="table" style="margin:20px">
    <thead>
        <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.CategoryId</td>
                <td>
                    <button class="btn btn-primary" onclick="getbyID(@item.ProductId)">Edit</button>
                    <button class="btn btn-danger" onclick="Deletecat(@item.ProductId)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Add Product</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="State">Product Name</label>
                        <input type="text" class="form-control" id="PName" placeholder="Product Name" />
                    </div>
                    <div class="form-group">
                        <label for="State">Category Id</label>
                        <input type="text" class="form-control" id="CategoryId" placeholder="Category Id" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<input hidden id="HiddenId" />

@section scripts{
    <script>
        $(function () {

        })

        function Add() {
            debugger;
            $.ajax({
                url:'@Url.Action("AddProduct", "Product")',
                data: { ProductName: $("#PName").val(), CId:$("#CategoryId").val() },
                type: "POST",
                //contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                   // loadData();
                    location.reload();
                    $('#myModal').modal('hide');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function getbyID(Id) {
            $.ajax({
                url:'@Url.Action("getProductbyID", "Product")',
                data: { Id:Id},
                type: "GET",
                //contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    debugger;
                    $('#PName').val(result.ProductName);
                    $('#CategoryId').val(result.CategoryId);
                    $("#HiddenId").val(result.ProductId)
                    $('#myModal').modal('show');
                    $('#btnUpdate').show();
                    $('#btnAdd').hide();
                },
                error: function (errormessage) {
                    debugger;
                    alert(errormessage.responseText);
                }
            });
            return false;
        }

        function Update() {
            $.ajax({
                url:'@Url.Action("UpdateProduct", "Product")',
                data: { ProductName: $("#PName").val(), ProductId: $("#HiddenId").val(), CId: $("#CategoryId").val() },
                type: "POST",
                dataType: "json",
                success: function (result) {
                    $('#myModal').modal('hide');
                    $('#PName').val("");
                    $('#CategoryId').val("");
                    $("#HiddenId").val("");
                    location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        function Deletecat(ID) {
                $.ajax({
                    url:'@Url.Action("DeleteProduct", "Product")',
                    data: { Id: ID },
                    type: "POST",
                   // contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        location.reload();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
        }
    </script>
}


